*.tlog
*.ilk
*.exe
*.db
*.pdb
*.log
*.obj
*.suo
*.idb
*.user
*.opendb
*.opensdf
*.sdf
*.lib
*.cache
*.iobj
*.ipdb
*.ipch

SFML-2.2

/cg/F.Hill. OpenGL/bin
/stepik/Спортивное программирование/code/.vs/stepik-53634/v15/ipch/
/stepik/Спортивное программирование/code/stepik-53634/output.txt
/stepik/Спортивное программирование/code/stepik-53634/input.txt
/stepik/Линейная алгебра/code/linear_algebra/linear_algebra/linear_algebra.*
/stepik/Линейная алгебра/code/linear_algebra/linear_algebra/input.txt
/stepik/Линейная алгебра/code/linear_algebra/linear_algebra/output.txt
